.footer-container {
  height: 100px;
  background: #f7f7f7;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;

  align-items: center;
  text-align: center;

  color: #545454;
}

.link-footer {
  color: #545454;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .coperate-text {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 28px;
  }
}

.favorite {
  margin-left: 10px;
  margin-right: 10px;

  width: 14px;
  height: 12px;
  fill: #ff6b08;
}

@media screen and (min-width: 768px) {
  .footer-container {
    height: 77px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.19;
  }
}
