.history-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-watched,
.btn-favorite {
  font-family: inherit;
  width: 136px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
  cursor: pointer;
}
.btn-watched {
  margin-right: 15px;
  border: none;
}
.btn-favorite {
  background: #e5e5e5;
  color: #000000;
}
