.main-conteiner {
  padding: 20px 20px 40px 20px;
}
.film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.film-list-item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  max-width: 280px;
  border-radius: 5px;
  transition: box-shadow 450ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 8px -6px 16px -2px rgba(73, 73, 73, 0.95);
    cursor: pointer;
  }
}

.film-picture {
  border-radius: 5px;
  max-width: 280px;
  height: 398px;
  margin-bottom: 10px;
}

.film-info {
  display: block;
}

.film-info-wrap {
  display: flex;
  flex-wrap: wrap;
}

.film-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $secondaryTextColor;
  margin: 0;
}
.film-genre,
.film-info-mark,
.film-year {
  margin-right: 3px;

  //   margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $hoverAndIsActivebackGroundColor;
}

.vote {
  width: 36px;
  height: 16px;
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 6px;
  background: $hoverAndIsActivebackGroundColor;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: $primaryTextColor;
}

@media screen and (min-width: 768px) {
  .main-conteiner {
    padding: 60px 75px 50px 75px;
  }
  .film-list-item {
    margin-bottom: 0;
    width: 294px;
  }
  .film-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
  }
  .film-picture {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .main-conteiner {
    padding: 60px 71px 46px 71px;
  }
  .film-list-item {
    width: 274px;
  }
  .film-picture {
    width: 274px;
  }
}
