
@keyframes animation-open{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animation-out {
  0%   { opacity: 1; }
 100% { opacity: 0; }
}

.image {
  display: block;
  height: 416px;
  // width: 280px;
}
img.image {
  width: unset;
}
.cardItem__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 50;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.cardItem_text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.cadrItem__vote {
  margin-right: 41px;
}
.cardItem__vote_average {
  margin-left: 41px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: $hoverAndIsActivebackGroundColor;
  color: #ffffff;
}

.cardItem__vote_count {
  color: #000000;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1px 4px;
}

.cardItem___data {
  margin-left: 53px;
  color: #000000;
}
.cardItem__title_data {
  margin-left: 39px;
  color: #000000;
  text-transform: uppercase;
}
.cardItem__genre {
  margin-bottom: 20px;
}
.cardItem__genreList {
  margin-left: 76px;
  color: #000000;
}

.cardItem__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.cardItem__description {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: #000000;
}
.history-btn-wrapper {
  position: relative;
  display: flex;
}
.btn-watched {
  margin-right: 13px;
}

.btn-watched,
.btn-favorite {
  font-family: inherit;
  width: 136px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}
.btn-watched:hover,
.btn-watched:focus,
.btn-favorite:focus,
.btn-favorite:hover {
  color: #ffffff;
  background: #ff6b01;
  border: none;
  cursor: pointer;
}

.container_modal {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100vw;
  background-color: #fff;
  padding-top: 60px;
  border-radius: 10px;
  box-shadow: 1px 4px 6px rgb(0 0 0 / 16%), 0px 4px 4px rgb(0 0 0 / 6%), 0px 1px 1px rgb(0 0 0 / 12%);
  
}


.backdrop_close.close{
  opacity: 0;
  animation-name: animation-out;
  animation-duration: 1500ms;
}

// .backdrop_close {

// // display: none;
// // display: flex;
// //     align-items: center;
// //     justify-content: center;
// //     position: fixed;
// //     top: 0;
// //     left: 0;
// //     width: 100vw;
// //     height: 100vh;
// animation-name: animation-out;
// animation-duration: 1500ms;
  
// }
.backdrop_close.is-open {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: animation-open;
  animation-duration: 1500ms;
  
    
    
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100vw;
  // height: 100vh;
  // background-color: #e5e5e5;
  // display: block;
}

.lightbox{

  display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation-name: animation-out;
    animation-duration: 1500ms;
}


.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-image: url("./images/icon-close.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container_modal {
    max-width: 320px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cardItem__image {
    margin-bottom: 30px;
  }
  // .backdrop_close {
  //   // padding-top: 20px;
  //   // padding-bottom: 40px;
  // }

  .lightbox__button{

    top: -9px;
    right: -8px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container_modal {
    display: flex;
    max-width: 768px;
    padding-bottom: 98px;
    padding-left: 75px;
    padding-right: 75px;
  }



  .modal-card {
    display: flex;
    gap: 30px;
  }
  // .image {
  //   // width: 294px;
  // }

  .cardItem__wrapper {
    padding-left: 30px;
  }
  // .backdrop_close {
  //   // padding-bottom: 98px;
  // }
}

@media screen and (min-width: 1024px) {
  .container_modal {
    max-width: 1024px;
    display: flex;
    padding-bottom: 60px;
    padding-left: 71px;
    padding-right: 71px;
  }
  .modal-card {
    display: flex;
    gap: 30px;
  }
  .image {
    width: 426px;
    height: 514px;
  }
  .cardItem__wrapper {
    padding-left: 30px;
  }
  // .backdrop_close {
  //   // max-width: 1600px;
  //   // margin: auto;
  //   // padding-bottom: 60px;
  // }
}


