// .modal-card {
//   margin: 0 auto;
// }

.image {
  width: 280px;
}
.cardItem__image {
  margin-bottom: 30px;
}

.cardItem__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 50;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.cardItem_text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.cadrItem__vote {
  margin-right: 41px;
}
.cardItem__vote_average {
  margin-left: 41px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: $hoverAndIsActivebackGroundColor;
  color: #ffffff;
}

.cardItem__vote_count {
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #000000;
}

.cardItem___data {
  margin-left: 53px;
  color: #000000;
}
.cardItem__title_data {
  margin-left: 39px;
  color: #000000;
}
.cardItem__genre {
  margin-bottom: 20px;
}
.cardItem__genreList {
  margin-left: 76px;
  color: #000000;
}

.cardItem__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.cardItem__description {
  max-width: 279px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: #000000;
}
// .history-btn-wrapper {
//   text-align: center;
// }
.btn-watched,
.btn-favorite {
  font-family: inherit;
  width: 136px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover{
    box-shadow: 7px 5px 15px -1px rgba(131,131,131,0.93);
    cursor: pointer;
  }
}
.btn-watched {
  margin-right: 11px;
  border: none;
}
.btn-favorite {
  background: transparent;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .modal-card {
    display: flex;
    gap: 30px;
  }
  .image {
    width: 298px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-card {
    display: flex;
    gap: 30px;
  }
  .image {
    width: 426px;
  }
}
