.modal-backdrop {
  position: fixed;
  background-color: rgba($color: #202020, $alpha: 0.7);
  top: 0;
  height: 100%;
  width: 100%;
}

.sign-up-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  margin: 0 auto;
  border: orangered solid 1px;
  background-color: rgb(179, 179, 179);
  border-radius: 5px;
  padding: 20px 0 20px 0;
  transform: translate(-50%, -50%);
}
.sign-up-title {
  text-align: center;
  margin: 0 auto;
}
.login {
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
}
.password {
  display: block;
  margin-bottom: 15px;
}

#login,
#password {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  padding-left: 10px;
}
#login::placeholder,
#password::placeholder {
  padding-left: 10px;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-sign-up {
  height: 30px;
  width: 90px;
  border-radius: 5px;
}
.btn-login {
  margin-right: 20px;
  border-radius: 5px;
  height: 30px;
  width: 90px;
}
.modal-hidden {
  display: none;
}
