.modal-close-btn {
  display: none;

  @media screen and (max-width: 767px) {
    position: absolute;
    

    display: flex;
    align-items: center;
    justify-content: center;

    
  }
}

@media screen and (max-width: 767px) {
  .modal-card {
    position: relative;

      }
}

.genres {
  display: flex;
}

.image {
  display: block;
  
  }
}

.cardItem__wrapper {
  
}

.cardItem__name {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 50;
  color: rgb(0, 0, 0);
  margin-bottom: 18px;
  text-transform: uppercase;
}

.cardItem__wrapper p {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 1.333;
  margin-bottom: 18px;
  letter-spacing: 1px;
}

.cardItem_text {
  
}

.cardItem__vote_average {
  display: 
}

.cardItem__vote_count {
  display: 
}

.cardItem___data {
  
}

.cardItem__title_data {
  

  

.cardItem__genre {
  
  }
}

.cardItem__genre_data {
  
}

.cardItem__genreList {
  
}

.cardItem__about {
  
}

.cardItem__description {
  
}


@media screen and (min-width: 768px) {
  .modal-card {
    
  }

  .image {
    display: block;
    
    
  }

  .cardItem {
    display: flex;
  }

  .cardItem__list {
    display: flex;
    justify-content: space-between;
    
  }

  .cardItem__wrapper {
    
  }

  .card__image {
   
  }

  .cardItem__name {
    
  }
}

@media (min-width: 1024px) {
  .modal-card {
    background-color: #ffffff;
    
    display: flex;
  }
  .image {
    display: block;
   
    
  }

  .cardItem__wrapper {
    
  }

  .cardItem__genreList {
    
  }

